:root{
  /* 超链接的文本颜色 */
  --atext-color: #a9a9a9;
  /* 超链接悬停文本颜色 */
  --ahover-color: red;
  /* 超链接下划线颜色 */
  --abottom-color: #00CED1;

  /* 列表的边框和背景颜色 */
  --ulol-color: #81accf;
  /* 列表的字体颜色 */
}


/* ==================== 一级标题样式 ==================== */
.vp-doc h1 {
    background: -webkit-linear-gradient(-45deg, #e43498 5%, #5ad7dd 15%);
    background-clip: text; 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
  
/* ==================== 二级标题样式 ==================== */
.vp-doc h2 {
    border-bottom: 4px solid rgba(184, 66, 127, 0.5);
    line-height: 35px; 
    padding-left: 5px; 
    margin: 0;
    font-weight: 600;
    color: #16a0db; 
}

/* 为二级标题添加一个背景渐变效果 */
.vp-doc h2:after {
    content: ''; 
    position: absolute; 
    right: 0; 
    bottom: 0; 
    width: 400px; 
    height: 10px; 
    border-top-right-radius: 22px; 
    background: linear-gradient(90deg, transparent, #16a0db); 
    max-width: 50vw; 
}

/* ==================== 三级标题样式 ==================== */
.vp-doc h3 {
    margin: 20px 0; 
    font-weight: 600; 
    color: #16a0db; 
    letter-spacing: -0.01em; 
    line-height: 28px;
}

/* ==================== 四级标题样式 ==================== */
h4 {
    margin: 0.4em auto 0.1em; 
    padding-left: 6px; 
    padding-right: 6px; 
    display: inline-block; 
    border: 1px solid #16a0db; 
    border-top: 4px solid #16a0db; 
    color: #16a0db;
}

/* ==================== 超链接样式 ==================== */
.vp-doc{
  p a:hover {
    border-radius: 6px;
    border-bottom: 2px solid transparent;
    background-color: var(--abottom-color);
    color: var(--ahover-color) !important;
    cursor: pointer;
  }
}

/* ==================== code块的字体大小 ==================== */
.VPDoc {
  p code,
  ul code {
  font-weight: bold; 
  font-size: 14px; 
  color: #00CED1;
  }
}

/* ==================== 引用块样式 ==================== */
.vp-doc blockquote {
    margin: 0; 
    padding: 0.5rem; 
    border-left: 6px solid #198aba;
    border-radius: 5px; /* 圆角 */
    background: rgba(66, 139, 184, 0.1);
}
  
/* ==================== 加粗文本样式 ==================== */
strong {
    color: #e44a8a;
}
strong::before {
    content: '[ '; 
}
strong::after {
    content: ' ]'; 
}
  




/** 有序、无序列表，来自Butterfly主题 **/
ul li,
ol li,
.ul .li,
.ol .li {
  list-style-type: none;
}

.vp-doc ul:not(.table-of-contents ul) > li:before {
  margin-left: -22px;
  margin-top: 10px;
  width: .52em;
  height: .52em;
  border: .1em solid var(--abottom-color);
  background-color: var(--abottom-color) !important;
  border-radius: .31em;
  background: 0 0;
  content: '';
  line-height: .42em;
}


ol li:before,
ul li:before,
.ol .li:before,
.ul .li:before {
  position: absolute;
  background: var(--abottom-color);
  color: var(--olfore-color);
  cursor: pointer;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

ol li:first-child,
.ol .li:first-child {
  counter-reset: li;
}

ol li:hover:before,
ul li:hover:before,
.ol .li:hover:before,
.ul .li:hover:before {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}


ul>li:not(.tab):hover:before,
.ul>.li:not(.tab):hover:before {
  border-color: var(--focus-color);
}

ol>li:before,
.ol>.li:before {
  margin-top: 6px;
  margin-left: -25px;
  width: 1.65em;
  height: 1.65em;
  border-radius: 0.825em;
  content: counter(li);
  counter-increment: li;
  text-align: center;
  font-size: .65em;
  line-height: 1.7em;
}

/* 列表子项上下间隔调整 */
ul li input,
ol li input,
.ul .li input,
.ol .li input {
  margin-top: 0px;
  margin-bottom: 0px;
}

/* 列表上下间隔调整 */
ul li,
ol li,
.ul .li,
.ol .li {
  margin-top: 7px;
  margin-bottom: 7px;
}


/* 图片放大 */
.medium-zoom-overlay {
z-index: 20;
}
.medium-zoom-image {
z-index: 9999 !important; /* 给的值是21，但是实测盖不住，直接999 */
}


/* ==================== 图片样式 ==================== */
.content img {
    max-width: 20%; 
    height: auto; 
}
  
/* ==================== 小标签样式 ==================== */
/* 设置font标签的样式 */
font {
    display: inline;
    padding: 0.2em 0.6em; 
    font-size: 90%; 
    font-weight: 400; 
    line-height: 1; 
    color: #fff;
    border-radius: 6px; 
    background-color: var(--spannote-color); 
}

/* 自定义不同颜色的小标签 */
font[title='red'] {
    background-color: #e91e64; /* 红色背景 */
}
font[title='blue'] {
    background-color: #02aaf4; /* 蓝色背景 */
}
font[title='yellow'] {
    background-color: #ffc50a; /* 黄色背景 */
}
font[title='green'] {
    background-color: #8bc34a; /* 绿色背景 */
}
font[title='gray'] {
    background-color: #4c4c4c; /* 灰色背景 */
}

  
 /* ==================== 彩虹渐变文字效果 ==================== */
/* 彩虹变换字体的特效动画 */
@-webkit-keyframes rainbowan {
    to {
        background-position: -2000vw; /* 动画效果：背景移动 */
    }
}
@keyframes rainbowan {
    to {
        background-position: -2000vw;
    }
}
/* 设置具有rainbow属性的span的样式 */
span[alt='rainbow'],
span[alt='rainbow'] * {
padding-top: 3px;
background-image: linear-gradient(
    to left,
    orangered,
    orange,
    gold,
    lightgreen,
    cyan,
    dodgerblue,
    mediumpurple,
    hotpink,
    orangered
);
background-size: 110vw;
-webkit-background-clip: text;
background-clip: text;
color: transparent;
-webkit-animation: rainbowan 60s linear infinite;
animation: rainbowan 60s linear infinite;
}
  
  /** 一款时尚的span字体，来自QinXS **/
  
span[alt='modern'] {
    display: inline;
    padding: 5px 10px;
    border-radius: 20px;
    font-family: var(--body-font);
    font-size: 1em;
    letter-spacing: 0.2em;
    color: red;
    text-shadow: 0 8px 9px #c4b59d, 0 -2px 1px #fff;
    font-weight: 700;
    background: linear-gradient(to bottom, #ece4d9 0, #e9dfd1 100%);
}
  
/* ==================== 隐藏文本样式 ==================== */
/* 隐藏文本，在悬停时显示 */
span[alt='hide'] {
    color: transparent; /* 文字颜色透明 */
    background: #a1a1a1; /* 设置背景颜色 */
    border-radius: 2px; /* 圆角 */
    transition: all 0.28s ease; /* 添加过渡效果 */
}
span[alt='hide']:hover {
    color: var(--hidetext-color); /* 悬停时显示文字颜色 */
    background: none; /* 清除背景 */
}
  
  /** 隐藏型文本 **/
  
  span[alt='hide'] {
    color: transparent;
    background: #a1a1a1;
    border-radius: 2px;
    -webkit-transition: all 0.28s ease;
    -moz-transition: all 0.28s ease;
    -o-transition: all 0.28s ease;
    -ms-transition: all 0.28s ease;
    transition: all 0.28s ease;
    -moz-transition: all 0.28s ease;
    -webkit-transition: all 0.28s ease;
    -o-transition: all 0.28s ease;
  }
  span[alt='hide']:hover {
    color: var(--hidetext-color);
    background: 0 0;
  }
  

  /* ==================== 留言板输入框样式 ==================== */
/* 留言板的三个输入框样式 */
.page .v[data-class=v] .vwrap .vheader .vinput {
    width: 33.33%; /* 设置输入框宽度 */
    border-bottom: 1px #52525952 dashed; /* 设置虚线边框 */
}

/* 激活状态下的留言板输入框样式 */
  /* 三個輸入框激活后的下邊框 */
  .item3 .vinput {
    &:focus {
      border-bottom: 1px dashed #5d67e8e6 !important; 
      outline: none; 
    }
  }

  
  /* 黑夜模式下的留言板的邊框和背景顔色 */
  .dark .v[data-class=v] .vwrap {
    border: 1px solid #52525952 !important;
    --tw-bg-opacity: 1;
    background-color: rgb(32 32 34 / var(--tw-bg-opacity));
  }
  
  /* 回復按鈕的樣式 */
  .v[data-class=v] .vcards .vcard .vh .vmeta .vat{
    margin-right: .375rem;
    border-radius: .375rem;
    border-width: 1px;
    border-style: solid;
    --tw-border-opacity: 1;
    color: #5d67e8e6 !important;
    border: 1px solid #5d67e8e6 !important;
    padding-left: .375rem;
    padding-right: .375rem;
    padding-top: 0;
    padding-bottom: 0;
    --tw-text-opacity: 1;
    &:hover {
      background-color: #5d67e8e6;
      color: #fff !important;
    }
  }
  
  
  /* 側邊欄和導航欄的字體加粗 */
  .text,
  .title,
  .outline-link{
    font-weight: bold !important;
  
  }
  

  
  /* 导航栏的背景颜色 */
  /* .wrapper{
    background-color: rgb(27,27,31) !important;
  } */
  
  /* 留言ID的顔色 */
  /* .vnick{
    color: #5d67e8e6 !important;
  } */
  
  
  
  
  
  
  
  /* ===========这是对有侧边栏的设置=========== */
  /* 侧边栏左内边距22 */
  /* .VPSidebar{
    padding-left: 22px !important;
    padding-right: 0px !important;
    width: 240px !important;
  } */
  /* 左上角logo 左内边距 */
  /* .title{
    padding-left: 5px !important;
  } */
  
  /* 文档整个区域左内边距为0 */
  /* .VPContent{
    padding-left: 0px !important;
  } */
  
  /* 文档区域左内边距为0，宽度1200px */
  /* .vp-doc{
    padding-left: 0px !important;
    width: 1200px !important;
  } */
  
  /* 侧边栏的宽度为150 */
  /* .aside{
    width: 150px !important;
  } */
  
  
  
  
  /* ==========这是针对无侧边栏的情况========== */
  
  /* .VPDoc.has-aside:not(.has-sidebar) {
    .container{ */
      /* 文档区域外边距为100 */
      /* margin-left: 100px;
    } */
    /* 侧边栏距离右边0像素 */
    /* .aside-container{
      right: 0px !important;
    }
  } */
  
  
  
  
  /* 留言板和阅读量的位置调整 */
  /* .page-edit-read,
  .v[data-class=v] .vwrap,
  .prev-next {
    width: 1200px;
  } */